/* Reset some default styles */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

/* Header styles */
h1 {
  text-align: center;
  padding: 10px;
  background-color: #f9f9f9;
  margin: 0;
}

/* Container styles */
.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.left-column {
  width: 50%;
}

.right-column {
  width: 45%;
}

/* Table styles */
#displayTable {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  background-color: #f9f9f9;
}

.table-row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 5px 0;
}

.table-cell {
  flex: 1;
  text-align: left;
  padding: 2px;
}

/* Adjust specific table cell styles */
.table-cell.speed-header {
  flex: 1.5;
}

.table-cell.speed {
  flex: 1.5;
  font-size: 16pt;
}

.table-cell.mods {
  flex: 2;
}

.table-cell.poke-names {
  flex: 7;
}

/* Style the border for poke-entry */
.poke-entry {
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: inline-block;
  padding-left: 2px;
  padding-right: 10px;
  border-radius: 20px;
}

.poke-entry .minisprite-icon {
  display: inline-block;
  width: 40px;
  height: 30px;
  vertical-align: middle;
}

.poke-entry .poke-name {
  display: inline-block;
  vertical-align: middle;
  font-size: 10pt;
  align-items: center;
}

/* Style the first row with bold text */
.table-row:first-child .table-cell {
  font-weight: bold;
}

/* Button styles */
.tableButtons {
  font-size: 12pt;
  width: 150px;
  padding: 5px;
}

#buttonContainer {
  display: inline-block;
  padding: 10px 0;
}

.selectFormat {
  font-size: 12pt;
  padding: 5px;
}

input[type='number'] {
  width: 3em;
  padding: 5px;
  font-size: 14pt;
}

/* Sprites */
.item-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
}
